{
  "Environment": "development",
  "Timezone": "Africa/Lagos",
  "ServerPort": 8000,
  "Secure": {
    "Username": "",
    "Password": "",
    "IPWhiteList": {
      "<ip-address>": false
    }
  },
  "Databases": {
    "MySQL": {
      "WiseFinanceDB": {
        "Hostname": "",
        "Name": "",
        "Username": "",
        "Password": "",
        "Port": "3306",
        "Parameter": "?parseTime=true",
        "UseSocket": false,
        "SocketPath": ""
      }
    }
  },
  "CronJobs": {
    "TaskWaitTimeMinute": 5
  }
}
